:root {
    --card-width: 65%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    background-color: #12192a;
}

/* Sidebar container and elements */
.sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1d2536;
    color: #cdd7e2;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(82%) sepia(12%) saturate(205%) hue-rotate(171deg) brightness(106%) contrast(85%);
}

.list-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.list-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(82%) sepia(12%) saturate(205%) hue-rotate(171deg) brightness(106%) contrast(85%);
}

.list-item-text:hover {
    color: #5fa4e3;
    cursor: pointer;
}

/* Header container and elements */
.header-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6x rgba(0, 0, 0, 0.1);
    color: white;
}

.top-row {
    display: flex;
    align-items: center;
}

.search-icon, .notification-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(127deg) brightness(108%) contrast(101%);
}

.search-bar {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 50px;
}

.profile-picture, .large-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.large-profile-picture {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 4px; 
}

.bottom-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.greeting {
    font-size: 0.8rem;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 25px;
}

.button {
    background-color: #345985;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Content container */
.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px;
    /* height: 100vh; */
}

/* Project container and elements */
.projects-container {
    grid-column: 1;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.content-titles {
    margin-bottom: 20px;
    color: white;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: #374558;
    border-left: 10px solid #604d90;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 350px;
    overflow: auto;
}

.card h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #5fa4e3;
}

.card p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: whitesmoke;
}

.cards-icons {
    display: flex;
    justify-content: flex-end;
}

.cards-icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 15px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(127deg) brightness(108%) contrast(101%);
    transition: all 0.3s ease-in-out;
}

.cards-icons img:hover {
    filter: invert(74%) sepia(56%) saturate(3238%) hue-rotate(181deg) brightness(92%) contrast(93%);
    transform: scale(1.2) rotate(360deg);
}

/* Announcements and Trending containers */
.news-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

/* Announcements container */
.announcements-container {
    padding-bottom: 20px;
    overflow: auto;
}

.announcement-card {
    background-color: #374558;
    border-left: 10px solid #a273e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    flex-grow: 1;
    overflow: auto;
}

.announcement-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #5fa4e3;
}

.announcement-text {
    color: whitesmoke;
    margin-bottom: 5px;
}

.announcement-line {
    border: 0;
    height: 1px;
    background: #000000;
    margin: 10px 0;
}

/* Trending container */
.trending-container {
    padding: 5px 5px;
    flex-shrink: 0;
    margin-top: auto;
}

.trending-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #374558;
    border-left: 10px solid #503c83;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow: auto;
}

.trending-profile {
    display: flex;
    align-items: flex-start;
    gap: 10px
}

.trending-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 0;
}

.trending-profile .text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending-profile .handle {
    font-weight: bold;
    margin-bottom: 5px;
    color: #5fa4e3;
}

.trending-profile .description {
    color: whitesmoke;
    margin-bottom: 0;
}